* {
	margin:0;
	padding: 0;
	border: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
	-webkit-animation-duration: 20s;
	animation-duration: 20s;
	-webkit-animation-name: hinge;
	animation-name: hinge;
}

.riverdale-comic {
  background-image: url("../images/blank-notebook-paper-163031.jpg");
	background-attachment: fixed;
  background-size: cover;
	font-family: 'Luckiest Guy', sans-serif;
	font-size: 2.250em;
	padding: 200px 0;
	color: Pink;
	text-align: center;
}

.riverdale-comic img {
	height: auto;
	max-width: 100%;
}

.flex-grid {
	display: flex;
	flex-wrap:nowrap;
}

.flex-grid figure {
	font-size: 1.0em;
}

.col {
	flex-wrap: wrap;
  flex: 1;
	justify-content: center;
}

img {
	transition: all .5s ease;
	-webkit-transform: rotateX(0deg);
	-webkit-transform-origin-y: 300px;
}

img:hover {
	-webkit-transform: rotateX(-40deg);
}

.riverdale-characters {
	background-image: url("../images/white_blank_notebook.jpg");
	background-attachment: fixed;
  background-size: cover;
	padding: 200px 0;
	font-family: 'Luckiest Guy', sans-serif;
	font-size: 2.250em;
	color: black;
	text-align: center;
}

.riverdale-characters img {
	max-width: 100%;
}

.flex-grid2 {
	display: flex;
}

.flex-grid2 p {
	font-size: .5em;
}

.col {
	flex: 1;
}

.supporting-characters {
  background-image: url("../images/blank-notebook-paper-163031.jpg");
	background-attachment: fixed;
  background-size: cover;
	padding: 200px 0;
	font-family: 'Luckiest Guy', sans-serif;
	font-size: 2.250em;
	color: pink;
	text-align: center;
}

.supporting-characters img {
	max-width: 100%;
}

.flex-grid3 {
	display: flex;
}

.flex-grid3 p {
	font-size: .5em;
}

.col {
	flex: 1;
}

.supporting-charactersII {
	background-image: url("../images/white_blank_notebook.jpg");
	background-attachment: fixed;
  background-size: cover;
	padding: 200px 0;
	font-family: 'Luckiest Guy', sans-serif;
	font-size: 2.250em;
	color: black;
	text-align: center;
}

.supporting-charactersII img {
	max-width: 100%;
}

.flex-grid4 {
	display: flex;
}

figcaption {
	font-size: 1.0em;
}

.col {
	flex: 1;
}


footer {
  background: grey;
  display: flex;
  justify-content: center;
	font-family: 'Montserrat', sans-serif;
}

@media (max-width: 900px) {
	.flex-grid, .flex-grid2, .flex-grid3, .flex-grid4 {
		display: block;
	}
}

@media screen (min-width: 320px) {
	body {
		display: flex;
	}
}

@keyframes hinge {
	0% {
		-webkit-transform-origin: top left;
		transform-origin: top left;
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out;
	}
	20%,
	60% {
		-webkit-transforms: rotate3d(0, 0, 1,
			80deg);
			transform: rotate3d(0, 0, 1, 80deg);
			-webkit-transform-origin: top left;
			transform-origin: top left;
			-webkit-animation-timing-function: ease-in-out;
			animation-timing-function: ease-in-out;
		}
		40%,
		80% {
			-webkit-transform: rotate3d(0, 0, 1,
				60deg);
				transform: rotate3d(0, 0, 1, 60deg);
				-webkit-transform-origin: top left;
				transform-origin: top left;
				-webkit-animation-timing-function: ease-in-out;
				animation-timing-function: ease-in-out;
				opacity: 1;
		}
		to {
			-webkit-transform: translate3d(0, 700px,
				0);
				transform: translate3d(0, 700px, 0);
				opacity: 0;
		}
	}
